<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:<br>
  <% @post.comments.each do |comment| %>
   <p> <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %></p>
  <% end %>
